@page
@model WebApplication1.Pages.Animals.BunnyModel
@{
}
<p>BUNBUN</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var card in Model.Cards)
    {
        @await Html.PartialAsync("~/Pages/Shared/Components/Card.cshtml", card)
    }
</div>