@page
@model WebApplication1.Pages.Animals.DogModel
@{
    ViewData["Title"] = "Hund";
}
<h1 class="display-4">Animal Kingdom | Canis lupus familiaris </h1>

<div>
    <img class="img-test" src="~/images/pug2.png"/>
</div>

<div class="fun-facts">
    <table>
        <tr>
            <th>Djurart</th>
            <th>Namn</th>
        </tr>
        
        <tr>
            <td>Pug</td>
            <td>Black</td>
        </tr>
        <tr>
            <td>Empty</td>
        </tr>
    </table>
    

</div>