@page
@using WebApplication1.Models;
@model WebApplication1.Pages.AnimalsModel
@{
    ViewData["Title"] = "Animals";
}

<!--Here is the layout for the animals page-->

<h1>Animals page</h1>


<div class="container-animals">

    @if(Model.Animals.Count > 0)
    {
        @foreach (var animal in Model.Animals)
        {
            <div class="column">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="@animal.Image" class="rounded " />
                            <p class="card-text">@animal.Type</p>
                        </div>
                        <div class="flip-card-back">
                            <p class="card-text">@animal.Type</p>
                            <a asp-page="@animal.Link">Se mer</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    }
    else
    {
        <p>Finns inga djur!</p>
    }
</div>




