@page
@using WebApplication1.Models;
@model WebApplication1.Pages.AnimalsModel
@{
    ViewData["Title"] = "Animals";
}

<!--Here is the layout for the animals page-->

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Dosis:wght@200&family=Indie+Flower&family=Montserrat:wght@100&family=Noto+Serif&family=Shadows+Into+Light&family=Shantell+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<h1>Djursidan</h1>

@if(Model.Animals.Count > 0)
{
    @foreach (var animal in Model.Animals)
    {
        <div class="container-fluid">
            <div class="column">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="@animal.Image" class="rounded"  />
                            <figure>
                                <figcaption>
                                    <p>@animal.Type</p>
                                </figcaption>
                            </figure>
                            
                        </div>
                        <div class="flip-card-back">
                            <p>@animal.Type</p>
                            <a asp-page="@animal.Link">Se mer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    }

}
else
{
    <p>Finns inga djur!</p>
}









