@page
@model WebApplication1.Pages.Animals.TestModel


<div>
    <form method="post">
        <label>Namn:</label>
        <input type="text" name="name"/>
        <label>Länk</label>
        <input type="text" name="link" />
        <label>Bild:</label>
        <input type="text" name="image"/>
        <input type="submit"/>
    </form>
</div>
