@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--Here is the layout for Home page content-->

<div class="text-center">
    <h1 class="display-4">Animal Kingdom</h1>
   
</div>












