@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--Here is the layout for Home page content-->

<div class="text-center">
    <h1 class="display-4">Animal Kingdom</h1>
</div>

<div>
    <p>Bobo - Verktyg</p>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-page="/CreateAnimal"> Hantera djur</a>
        </li>
    </ul>
</div>



