html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.row {
    display:flex;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content:"";
    clear:both;
    display:table;
}

img {
    width: 100%;
}

.img-thumbnail {
    text-align:center;
}

.col1 {
    border: dotted;
    /* float:left;*/
}
.col2 {
    /*border:solid;*/
    text-align:center;
    
}
.col3{
    border:dashed;
  /*  display:inline-block;*/
}
.row2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*color:aqua;*/
    /*border:solid;*/
    font-size:larger;
    display:flex;
   /* padding:10px 10px 10px 10px;
    margin:10px 100px 15px 10px;*/


}


